In [ ]:
%load_ext sql

In [ ]:
%sql postgresql://student:student@127.0.0.1/sparkifydb

In [ ]:
%sql SELECT * FROM songplays LIMIT 5;

In [ ]:
%sql SELECT * FROM users LIMIT 5;

In [ ]:
%sql SELECT * FROM songs LIMIT 2;

In [ ]:
%sql SELECT * FROM artists LIMIT 5;

In [ ]:
%sql SELECT * FROM time LIMIT 5;

In [ ]:
%sql SELECT location, COUNT(*)  AS num_songs, round((COUNT(*)/SUM(COUNT(*)) OVER()) * 100, 1) AS prcnt_total FROM songplays GROUP BY location ORDER BY 2 DESC LIMIT 10

In [ ]:
%sql SELECT CONCAT(users.first_name, '-', users.last_name) AS user_name, COUNT(DISTINCT songplays.songplay_id) AS num_songs\
    FROM songplays LEFT JOIN users ON songplays.user_id = users.user_id GROUP BY 1 ORDER BY 2 DESC LIMIT 5

In [ ]:
%sql SELECT COUNT(*) FROM songplays;

In [ ]:
%sql SELECT song_id, artists.artist_id FROM songs LEFT JOIN artists ON songs.artist_id = artists.artist_id
# WHERE songs.title = (%s) AND\
#artists.name = (%s) AND songs.duration = (%s);

## REMEMBER: Restart this notebook to close connection to `sparkifydb`
Each time you run the cells above, remember to restart this notebook to close the connection to your database. Otherwise, you won't be able to run your code in `create_tables.py`, `etl.py`, or `etl.ipynb` files since you can't make multiple connections to the same database (in this case, sparkifydb).